{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}} 
    <link href="{{asset('css/map.css')}}" rel="stylesheet" type="text/css">     
{% endblock %}

{% block title %} Offres d'emploi {% endblock %}

{% block content_title %} Recherche {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block content %} 
    {{parent()}} 
    <div id="content" class="container">
        <div >
            <div class="title6 text-uppercase">Map</div>    
            <a href="{{path('eco_job_anonymous__offre_searchpage')}}">Sans carte de France</a>
            <div class="row">
                <div class="col-sm-5">    
                    <form id="searchForm" class="form-horizontal">           

                        <input size="65" type="text" id="searchBar" name="keywords" placehodler="Mots clés">

                        <br/>
                        <label for="exp">Expérience:</label>
                        <select name="experience" id="exp">
                            <option value="0">Tous</option>
                            <option value="1">1 an</option>
                            <option value="2">2 ans</option>
                            <option value="3">3 ans</option>
                            <option value="4">4 ans</option>
                            <option value="5">5 ans</option>
                            <option value="6">6 ans</option>
                            <option value="7">7 ans</option>
                            <option value="8">8 ans</option>
                            <option value="9">9 ans</option>
                            <option value="10">10 ans</option>
                            
                        </select>    
                        <label for="contrat">Type de contrat:</label>
                        <select name="contrat" id="contrat">
                            <option value="0">Tous</option>
                            <option value="1">CDD</option>
                            <option value="2">CDI</option>
                        </select>                                
			<label for="limit">Nombre d'offre à afficher :</label>
                        <select name="limit" id="limit">
                            <option value="10">10</option>
                            <option value="15">15</option>                            
                            <option value="20">20</option>
                        </select>  
                        <input type="hidden" id="offset" name="offset" value="0" />                        
                        <button class="btn-default btn1" id="reset">Reset</button>           
                    </form>  
                    <br/>
                    <div id="google_map"></div>

                </div>             
                <div class="col-sm-4 latest_news srollko" id="offreList">
                    {% for offre in offres %}
                        <div class="news1 offre" offreId="{{offre.id}}">
                            <div class="txt2"><a href="#details">{{offre.titre}}</a></div>
                            <div class="txt3">{{offre.localisation}}</div>
                        </div>
                    {% endfor %}                 
                </div>  
                <div class="col-sm-3" id="details">

                </div>                 
            </div>
        </div>
    </div> 
    <div style="z-index:2016;" class="modal fade " id="globModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" >Alerte</h4>
          </div>
          <div class="modal-body">
              Vous devez vous avoir un compte sur eco-job avant de pouvoir sauvegarder ou postuler à une offre d'emploi.
              Veuillez vous inscrire en cliquant <a href="{{ path('fos_user_registration_register')}}" class="btn-default">ici</a>
            ou vous connecter <a href="{{ path('fos_user_security_login')}}" class="btn-default">ici</a>
          </div>
        </div>
      </div>
    </div>                      
{% endblock %}                







{% block javascripts %}
    <!--[if lte IE 9 ]>
        <script type="text/javascript">
            window.location.href= '{{path('eco_job_anonymous__offre_searchpage')}}';
        </script>
    <![endif]-->

    {{parent()}} 
    <script>
        var assetsBaseDir = "{{ asset('images/') }}"
    </script>  
    <script type="text/javascript" src="{{asset('js/jquery.debounce.js')}}"></script>    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz7p9ZkcuK0_vpO57wMtBLakylq6vn0RM&libraries=places"></script>
    <script src="{{asset('js/markerclusterer.js')}}">
    </script>
    <script type="text/javascript" src="{{asset('js/jquery.blockUI.js')}}"></script>     
    <script type="text/javascript" src="{{asset('js/map_free.js')}}"></script>
{% endblock %}
